@page "/admin/createUser"


<h3>CreateUser</h3>


<div class="row" style="margin:50px">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
              

                
         
            </form>
        </section>
    </div>
</div>
