@page "/register"
@model OlympiadManagementSystem.Areas.Identity.Pages.Account.Registration


@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row" style="margin:50px">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in</h2>
                <hr />


                <div asp-validation-summary="ModelOnly" class="" text-danger"></div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="col-form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="Input.Password" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Password" class="col-form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                @*<div class="form-floating" style="margin:10px">
                    <input type="radio" asp-for="Input.Role" value="Admin" />
                    <label asp-for="Input.Role" class="col-form-label">Admin</label>
                    <input type="radio" asp-for="Input.Role" value="Applicant" />
                    <label asp-for="Input.Role" class="col-form-label">Applicant</label>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>*@
                <div class="form-floating" style="margin:10px">
                    <input type="number" asp-for="Input.PersonalCode" style="margin:10px"/>
                    <label asp-for="Input.PersonalCode" class="col-form-label">Admin</label>
                    <span asp-validation-for="Input.PersonalCode" class="text-danger"></span>
                    
                </div>
                <div style="margin:10px">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
            </form>
        </section>
    </div>
</div>