

@page "/exploreOlympiads"
@model OlympiadManagementSystem.Areas.Olympiads.Pages.OlympiadListModel


<h2>Olympiad List </h2>

@if (Model.Busy)
{
    <p>Loading...</p>
}
else if (Model.Olympiads.Count == 0)
{
    <p>No olympiads created yet</p>
}
else if (Model.Error == true)
{
    <p>Error occured: @Model.ErrorMessage</p>
}
else
{
    <ul>

        @foreach (var item in Model.Olympiads)
        {
            <li>
                Olympiad No @item.OlympiadID : @item.Subject
            </li>
        }
    </ul>
}
